# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/

# VS Code settings (optional)
.vscode/

# MacOS system files
.DS_Store

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Python distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log